@import 'https://fonts.googleapis.com/css?family=Gochi+Hand|Lakki+Reddy|Grand+Hotel|Pacifico|Sigmar+One|Monoton|Unkepmt';

h2{
  font-family: Monoton;
  font-size: 40px;
  color: #6451C4;
  text-align: center;
  background-color: #DAF7A6;
  border: dotted #DA2510 3px;
}

p{
  font-family: Lakki Reddy;
  color: #3CBB16;
  font-size: 25px;
  text-align: center;
}

div{
  background-color: #DAF7A6;
  border: dotted #DA2510 3px;
  padding: 25px;
  margin: 25px;
  text-align: center;
}

img{
  display: inline;
  height: 400px;
  text-align: center;
}

li{
  color: maroon;
  font-size: 25px;
  font-family: Gochi Hand;
}

body{
  background-image: url(http://www.metmuseum.org/toah/images/h5/h5_1999.363.63.jpg);
}

#nav_block_one {
  background-color: #CBFFEE;
  width: 80%;
  border: solid #3E135B 3px;
  text-align: center;
  margin-left: 360px;
  display: inline;
  padding: 10px;
}

#nav_block {
  background-color: #CBFFEE;
  width: 80%;
  border: solid #3E135B 3px;
  text-align: center;
  margin: 10px;
  display: inline;
  padding: 10px;
}
