@import 'https://fonts.googleapis.com/css?family=Gochi+Hand|Grand+Hotel|Pacifico|Sigmar+One|Monoton|Unkepmt|Sofia|Patrick+Hand+SC|Megrim|Lily+Script+One';

h2{
  font-family: Sofia;
  font-size: 40px;
  color: #3CCF8C;
  text-align: center;
  background-color: #FFF5D8;
  border: dotted #66DBFA 3px;
}

p{
  font-family: Gochi Hand;
  color: #DFD800;
  font-size: 25px;
  text-align: center;
}

div{
  background-color: #FFF5D8;
  border: dotted #DA2510 3px;
  padding: 25px;
  margin: 25px;
  text-align: center;
}

img{
  display: inline;
  height: 400px;
  text-align: center;
}

li{
  color: maroon;
  font-size: 25px;
  font-family: Gochi Hand;
}

body{
  background-image: url(http://arts-movement.weebly.com/uploads/1/8/6/3/18630116/810221_orig.jpg);
}
